$font-texto: 'Raleway', sans-serif;
$font-titulo: 'Calistoga', cursive;

$azul-escuro: #2E7BA2;
$azul-claro: #C8DEEF;
$azul-botao-hover: #519EC5;
$mostarda: #DF9010;
$salmao-claro: #FBF0DD;
$salmao: #FACF9D;
$branco-principal: #FFFFFF;
$font-color: #444444;


body {
    background-image: linear-gradient($azul-claro, $salmao-claro, $salmao);

    &::-webkit-scrollbar{
        width: 10px;
    }

    &::-webkit-scrollbar-track {
        background: linear-gradient($azul-claro, $salmao-claro, $salmao);
    }
      
    &::-webkit-scrollbar-thumb {
        background-color: $azul-claro;
    }
}


.hidden {
    display: none;
}

.input-mensagem-erro {
    font-family: $font-texto;
    color: red;
    padding: 10px;
}

.input-container__invalido .formulario__form-input{
    border: 2px solid red;
    border-radius: 5px;
}

.material-icons {
    font-size: 28px;
    color: $branco-principal;
}

// estilos botão

.btn {
    font-family: $font-texto;
    font-weight: 700;
    font-size: 20px;
    line-height: 40px;
    color: #FFFFFF;
    text-decoration: none;
    background-color: $azul-escuro;
    box-shadow: 4px 4px 0px #444444;
    border-radius: 16px;
    padding: 8px 0;
    margin: 0 24px;

    &:hover {
        background-color: $azul-botao-hover;
        transition: 0.7s;
    }
}

// menu mobile
.header__list {
    position: absolute;
    top: 136px;
    right: 0;
    flex-direction: column;
    gap: 8px;      
    background-color: $azul-escuro;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    list-style: none;
    max-width: 0;
    overflow: hidden;
    transition: max-width 0.5s ease-out;
    z-index: 10;

    &-item {
        padding: 16px 0;
        position: relative;

        & a {
            text-decoration: none;
            color: $branco-principal; 
        }
        
        &::after {
            content: "";
            position: absolute;
            width: 90%;
            height: 2px;
            background: $branco-principal;
            bottom: -3px;
            left: 50%;
            transform: translatex(-50%)
        }

        &:last-child::after{
            display: none;
        }

    }

}

.banner {
    background-size: cover;
    background-position: center;
    height: 270px;
    width: 100%;
    position: relative;
    display: flex;

    &__titulo {
        text-align: center;
        color: $font-color;
        font-size: 32px;
        font-weight: 400;
        margin: 0 auto;
        font-family: $font-titulo;
        align-self: center;
    }

    &::before {
        content: "";
        position: absolute;
        inset: 0px;
        background-size: cover;
        background-position: center center;
        z-index: -1;
        opacity: 0.4;
    }
}


.modal {
    width: 270px;
    height: 160px;
    margin: 0 auto;
    font-family: $font-texto;
    font-size: 20px;
    line-height: 25px;
    padding: 24px;
    color: red;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
    text-align: center;
    box-shadow: 4px 4px 0px #444444;
    border-radius: 16px;
    position: absolute;
    left: -50%;
    right: -50%;
    background-image: linear-gradient($azul-claro, $salmao-claro, $salmao);
    display: flex;

    &__btn {
        padding: 0;
        margin: 0 87px;

        &:hover {
            cursor: pointer;
        }
    }
}


.loader {
    text-align: center;
    padding-top: 20px;
    display: none;

    &__dot {
        width: 24px;
        height: 24px;
        background: #3ac;
        border-radius: 100%;
        display: inline-block;
        animation: slide 1s infinite;

        &:nth-child(1) {
            animation-delay: 0.1s;
            background: $azul-escuro;
        }

        &:nth-child(2) {
            animation-delay: 0.3s;
            background: $azul-claro;
        }

        &:nth-child(3) {
            animation-delay: 0.5s;
            background: $salmao;
        }   
    }

    &__p {
        padding: 15px 0;
    }
}

@-moz-keyframes slide {
    0% {
      transform: scale(1);
    }
    50% {
    //   opacity: 0.3;
      transform: scale(2);
    }
    100% {
      transform: scale(1);
    }
}

@-webkit-keyframes slide {
    0% {
      transform: scale(0.8);
    }
    50% {
    //   opacity: 0.3;
      transform: scale(1.2);
    }
    100% {
      transform: scale(0.8);
    }
}