@media screen and (min-width: 1280px) {
   
    .banner {
        height: 407px;

        &__titulo {
          
        }
    }

    .sobre {
        display: flex;
        justify-content: center;
        padding: 64px 0;
        gap: 48px;

        &__info {
            padding-top: 32px;
            box-sizing: border-box;
            width: 540px;
            height: 340px;
            display: flex;
            flex-direction: column;
            gap: 24px;
        }

        &__texto {
            margin: 0;
            padding: 0;
        }
    }

    .programacao {

        &__info {
            &-titulo {
                &::before {
                    width: 300px;
                    left: -350px;
                }

                &::after {
                    width: 300px;
                    right: -350px;
                }
            }
        }
    }



    //.....experiencia.html......

    .experiencia {

        display: flex;
        align-items: center;
        padding: 64px 100px;
        gap: 48px;

        &__img {
            width: 609px;
            height: 381px;
        }

        &__info {
            padding: 0;
            text-align: justify;

            &-titulo {
                padding-bottom: 24px;
            }
        }
    }

    .experiencia:nth-of-type(3) {
        flex-direction: row-reverse;
    }
}