@media screen and (min-width: 1280px) {
   
    .banner {
        height: 407px;

        &__titulo {
          
        }
    }

    .sobre {
        display: flex;
        justify-content: center;
        padding: 64px 0;
        gap: 48px;

        &__info {
            padding-top: 32px;
            box-sizing: border-box;
            width: 540px;
            height: 340px;
            display: flex;
            flex-direction: column;
            gap: 24px;
        }

        &__texto {
            margin: 0;
            padding: 0;
        }
    }

    .programacao {

        &__info {
            &-titulo {
                &::before {
                    width: 300px;
                    left: -350px;
                }

                &::after {
                    width: 300px;
                    right: -350px;
                }
            }
        }

        &__img {
            height: 407px;
        }
    }



    //.....experiencia.html......

    .experiencia {

        display: flex;
        align-items: center;
        padding: 64px 100px;
        gap: 48px;

        &__img {
            width: 609px;
            height: 381px;
        }

        &__info {
            padding: 0;
            text-align: justify;

            &-titulo {
                padding-bottom: 24px;
            }
        }
    }

    .experiencia:nth-of-type(3) {
        flex-direction: row-reverse;
    }

    // .....Mapa de Setores.....

    .banner-setores {
        background-image: url(../img/Banner-setores-desktop.png);
    }

    .mapa {
        flex-direction: row;
        justify-content: center;
        gap: 48px;
        padding: 32px 120px;

        &__img {
            width: 450px;
            height: 450px;
        }

    }

    .detalhes {

        padding: 48px 120px;
        display: flex;
        flex-direction: column;
        
        &__card-section {
            height: 631px;
            display: flex;
            gap: 20px;
            justify-content: center;

        }
        
        &__card:nth-child(2) {
            align-self: flex-end;
        }
    }

    // ....Informações Gerais...

    .banner-informacoes {
        background-image: url(../img/Banner-info-desktop.png);
    }

    .perguntas {
        padding: 48px 222px;

        &__titulo {
            font-size: 48px;
        }

        &__frequentes-pergunta span {
            cursor: pointer;
        }
    }

    // ....Ingresso...

    .banner-ingresso {
        background-image: url(../img/Banner-ingresso-desktop.png);
    }

    .formulario {
        padding: 48px 322.5px;
  
        
        &__form {

            display: flex;
            flex-direction: column;

            &-seletores {
                display: flex;
                flex-direction: row;
                gap: 24px;
                justify-content: center;

                &-select {
                    width: 50%;
                }

                &-data {
                    width: 50%;
                }
            }
            
            &-input[type="date"] {
                width: 100%;
                margin-bottom: 0;
            }

            &-btn:hover {
                cursor: pointer;
            }
        }
    }

     // ...Ingresso comprado....

     .banner-ingresso-comprado {
        background-image: url(../img/Banner-ingresso-comprado-desk.png);
    }

    .ingresso {
        padding: 64px 120px;

        &__mensagem {
            padding: 0 64px 32px;

            & br {
                display: none;   
            }
        }

        &__card {
            display: grid;
            margin: 0 auto;
            width: 792px;
            height: 286px;
            grid-template-columns: 25% 28% 39%;
            grid-template-rows: 1fr 1fr;
            gap: 32px;
            align-items: end;
          
            
            &-logos {
                grid-column-start: 1;
                grid-column-end: 4;
                grid-row-start: 1;
                grid-row-end: 1;
            }

            &-img {
                width: 189px;
                height: 222px;
                grid-column-start: 1;
                grid-column-end: 1;
                grid-row-start: 2;
                grid-row-end: 2;
            }

            &-info {
                grid-column-start: 2;
                grid-column-end: 2;
                grid-row-start: 2;
                grid-row-end: 2;

                &-nome {
                    padding-bottom: 32px;
                }
            }
        }
    }

}