@media screen and (min-width: 0){
    .header {
        background-color: $azul-escuro;
        
        &__container {
            width: 296px;
            display: flex;
            margin: 0 auto;
            padding: 32px 0;
            justify-content: space-between;
            align-items: center;
            
            &-check {
                display: none;
            }

            &-menu-hmb {
                display: block;
            }
        }

        &__img {
            width: 233.9px;
            height: 64px;
        }

        &__list {
            display: none;
        }

        .menu-mobile-close {
            color: $branco-principal;
            display: none;
        }
    }

    .header__container-check:checked~.header__list {
        display: flex;
    }

}

@media screen and (min-width: 768px){
    .header {
  
        &__container {
            width: 648px;
            justify-content: center;
            display: block;
            text-align: center;
            padding: 16px 0;

            &-menu-hmb {
                display: none;
            }
        }

        &__list {
            display: flex;
            flex-direction: row;
            position: unset;
            justify-content: center;
            gap: 32px;

            &-item::after {
                display: none;
            }
        }

        &__menu-hmb {
            display: none;
        }
    }
}

@media screen and (min-width: 1280px){
    .header {
        &__container {
            display: flex;
            width: 1040px;
            justify-content: space-between;
            padding: 32px 0;
        }

        &__list {

            &-item:hover {
                text-decoration: underline;
                color: $branco-principal;
            }
        }
    }
}