@media screen and (min-width: 0) {
    .header {
        background-color: $azul-escuro;
        
        &__container {
            width: 312px;
            display: flex;
            margin: 0 auto;
            padding: 32px 0;
        }

        &__img {
            width: 233.9px;
            height: 64px;
        }
    }

    .banner {
        background-image: url(../img/Banner.png);
        background-size: cover;
        background-position: center;
        height: 270px;
        display: flex;

        &__titulo {
            text-align: center;
            color: $font-color;
            font-size: 32px;
            font-weight: 400;
            margin: 0 auto;
            font-family: $font-titulo;
            align-self: center;
        }
    }

    .sobre {
        text-align: center;
        margin: 0 auto;
        padding: 32px 0;
        font-family: $font-texto;
        color: $font-color;

        &__img {
            width: 312px;
            height: 381px;
        }

        &__info {
            padding-top: 32px;
        }

        &__titulo {
            font-weight: 700;
            font-size: 32px;
            line-height: 38px;
        }

        &__texto {
            font-weight: 500;
            font-size: 20px;
            line-height: 40px;
            padding: 24px;
        }

        &__btn {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 15px;
        }
    }
    
}