@media screen and (min-width: 0) {

    // ......index.html......

    .banner-home {
        background-image: url(../img/Banner.png);
    }

    .sobre {
        text-align: center;
        margin: 0 auto;
        padding: 32px 0;
        font-family: $font-texto;
        color: $font-color;

        &__img {
            width: 312px;
            height: 381px;
        }

        &__info {
            padding-top: 32px;
        }

        &__titulo {
            font-weight: 700;
            font-size: 32px;
            line-height: 38px;
        }

        &__texto {
            font-weight: 500;
            font-size: 20px;
            line-height: 40px;
            padding: 24px;
        }

        &__btn {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 15px;
        }
    }

    .programacao {
        text-align: center;
        color: $font-color;

        &__titulo {
            font-family: $font-titulo;
            font-weight: 400;
            font-size: 48px;
            line-height: 62px;
            margin: 0 auto;
            padding: 16px 0 32px;
        }

        &__info {
            padding: 24px;

            &-titulo {
                color: $branco-principal;
                background-color: $mostarda;
                font-size: 28px;
                font-weight: 400;
                font-family: $font-titulo;
                padding: 16px 0;
                margin-bottom: 48px;
            }

            &-list {
               color: $font-color; 
               font-family: $font-texto;
               display: flex;
               flex-direction: column;
               gap: 32px;

               &-banda {
                font-size: 32px;
               }

               &-banda:first-of-type {
                font-weight: 800;
                font-size: 48px;
               }

               &-banda:nth-child(1n+2) {
                font-weight: 700;
                font-size: 40px;
               } 

               &-banda:nth-child(1n+6) {
                font-weight: 700;
                font-size: 32px;
               }

               &-banda:nth-child(1n+10) {
                font-weight: 500;
                font-size: 32px;
               }
            }
        }

        &__img {
            height: 338px;
            margin: 0 auto;
            width: 360px;
            background-image: url(../img/rodape-img.png);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
        }
    }

    //.....experiencia.html......

    .banner-exp {
        background-image: url(../img/Banner-exp.png);
    }

    .experiencia {
        text-align: center;
        padding: 32px 24px;
        font-family: $font-texto;
        color: $font-color;

        &__info {
            padding: 32px 28px 0;

            &-titulo {
                font-size: 32px;
                font-weight: 700;
            }

            &-texto {
                font-weight: 500;
                font-size: 20px;
                line-height: 40px;
            }
        }
    }
}