@media screen and (min-width: 0) {

    // ......index.html......

    .banner-home {
        background-image: url(../img/Banner.png);
    }

    .sobre {
        text-align: center;
        margin: 0 auto;
        padding: 32px 0;
        font-family: $font-texto;
        color: $font-color;

        &__img {
            width: 312px;
            height: 381px;
        }

        &__info {
            padding-top: 32px;
        }

        &__titulo {
            font-weight: 700;
            font-size: 32px;
            line-height: 38px;
        }

        &__texto {
            font-weight: 500;
            font-size: 20px;
            line-height: 40px;
            padding: 24px;
        }

        &__btn {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 15px;
        }
    }

    .programacao {
        text-align: center;
        color: $font-color;

        &__titulo {
            font-family: $font-titulo;
            font-weight: 400;
            font-size: 48px;
            line-height: 62px;
            margin: 0 auto;
            padding: 16px 0 32px;
        }

        &__info {
            padding: 24px;

            &-titulo {
                color: $branco-principal;
                background-color: $mostarda;
                font-size: 28px;
                font-weight: 400;
                font-family: $font-titulo;
                display: inline-block;
                padding: 16px;
                margin-bottom: 48px;
            }

            &-list {
               color: $font-color; 
               font-family: $font-texto;
               display: flex;
               flex-direction: column;
               gap: 32px;

               &-banda {
                font-size: 32px;
               }

               &-banda:first-of-type {
                font-weight: 800;
                font-size: 48px;
               }

               &-banda:nth-child(1n+2) {
                font-weight: 700;
                font-size: 40px;
               } 

               &-banda:nth-child(1n+6) {
                font-weight: 700;
                font-size: 32px;
               }

               &-banda:nth-child(1n+10) {
                font-weight: 500;
                font-size: 32px;
               }
            }
        }

        &__img {
            height: 338px;
            margin: 0 auto;
            width: 360px;
            background-image: url(../img/rodape-mobile.png);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
        }
    }

    //.....experiencia.html......

    .banner-exp {
        background-image: url(../img/Banner-exp.png);
    }

    .experiencia {
        text-align: center;
        padding: 32px 24px;
        font-family: $font-texto;
        color: $font-color;

        &__info {
            padding: 32px 8px 0;

            &-titulo {
                font-size: 32px;
                font-weight: 700;
            }

            &-texto {
                font-weight: 500;
                font-size: 20px;
                line-height: 40px;
            }
        }
    }

    // .....Mapa de Setores.....

    .banner-setores {
        background-image: url(../img/Banner-setores.png);
    }

    .mapa {
        padding-bottom: 32px;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-family: $font-texto;
        color: $font-color;

        &__legenda {

            &-titulo {
                padding-bottom: 24px;
                font-size: 20px;
                font-weight: 700;
            }
            
            &-lista {
                display: flex;
                flex-direction: column;
                gap: 24px;

                &-item {
                    font-size: 20px;
                    font-weight: 500;
                    display: flex;
                    align-items: center;
                    gap: 16px;
                }
            }
        }
    }

    .detalhes {
        text-align: center;
        color: $font-color;
        font-family: $font-texto;
        padding: 32px 24px;

        &__titulo {
            font-size: 32px;
            font-weight: 700;
        }

        &__card {
            padding: 32px 0;

            &-info {
                padding-top: 24px;

                &-titulo {
                    font-size: 32px;
                    font-weight: 700;
                    padding-bottom: 24px;
                }

                &-texto {
                    font-size: 20px;
                    font-weight: 500;
                    line-height: 40px;
                }
            }
        }
    }

    // ....Informações Gerais...

    .banner-informacoes {
        background-image: url(../img/Banner\ -\ Infos\ gerais.png);
    }

    .perguntas {
        text-align: center;
        color: $font-color;
        padding: 48px 24px;

        &__titulo {
            font-size: 32px;
            font-weight: 400;
            font-family: $font-titulo;
            padding-bottom: 48px;
        }

        &__frequentes {

            font-family: $font-texto;
            text-align: initial;
            padding-bottom: 8px;

            &-pergunta {
                color: $branco-principal;
                background-color: $azul-escuro;
                font-size: 32px;
                font-weight: 700;
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 16px;
            }

            &-resposta {
                font-size: 20px;
                font-weight: 500;
                line-height: 40px;
                background-color: $azul-claro;
                padding: 16px;
            }
        }
    }

    // ....Ingresso...

    .banner-ingresso {
        background-image: url(../img/Banner\ -ingresso.png);
    }

    .formulario {
        text-align: center;
        padding: 32px 24px;
        color: $font-color;

        &__titulo {
            font-family: $font-titulo;
            font-size: 32px;
            font-weight: 400;
            padding-bottom: 48px;
        }

        &__form {
            text-align: justify;
            font-family: $font-texto;

            &-label {
                display: block;
                font-size: 32px;
                font-weight: 700;
                padding-bottom: 8px;
            }
            
            &-input {
                background-color: $branco-principal;
                width: 100%;
                height: 48px;
                border: none;
                margin-bottom: 32px;
                box-sizing: border-box;
                padding: 10px;
                font-size: 20px;
                color: $font-color;
                
                &::placeholder {
                    font-size: 20px;
                    font-weight: 500;
                }
            }

            // &-input[type="date"] {
            //     background: url(../img/calendar.svg) no-repeat center right;
            //     background-color: $branco-principal;
            //     background-size: 20px;
            //     background-position: 97%;
            // }


            .select {
                appearance: none;
                -webkit-appearance: none;
                -moz-appearance: none;
                background: url(../img/arrow_drop_down.svg) no-repeat center right;
                background-color: $branco-principal;
                background-size: 32px;
            }

            &-btn {
              display: flex;
              align-items: center;
              gap: 16px;
              padding: 8px 18px;
              margin: 0 auto;
              border: none;
            }
        }
    }

    // ...Ingresso comprado....

    .banner-ingresso-comprado {
        background-image: url(../img/Banner\ -\ ingresso-comprado.png);
    }

    .ingresso {
        padding: 64px 24px;
        text-align: center;
        color: $font-color;
        font-family: $font-texto;

        &__mensagem {
            font-weight: 700;
            font-size: 32px;
            line-height: 37.57px;
            padding-bottom: 32px;
        }

        &__card {
            box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.15);
            background: linear-gradient($azul-claro, $salmao-claro, $salmao);
            padding: 32px;
            display: flex;
            flex-direction: column;
            gap: 32px;

            &-logos {
               display: flex;
               justify-content: space-between;
            }

            &-img {
                width: 185px;
                height: 190px;
                margin: 0 auto;
            }

            &-info {

                &-nome {
                    font-size: 32px;
                    font-weight: 700;
                    padding-bottom: 16px;
                }

                & p {
                    font-weight: 500;
                    font-size: 20px;
                    line-height: 40px;
                }
            }
        }
    }
}