@media screen and (min-width: 768px){

    .banner {
        height: 384px;

        &__titulo {
            font-size: 64px;
            padding: 0 15%;
        }
    }

    .sobre {
        &__img {
            width: 609px;
            height: 381px;
        }

        &__texto {
            margin: 0 40px;
        }

        &__btn {
            width: 256px;
            margin: 0 auto;
        }
    }

    .programacao {

        &__titulo {
            font-size: 64px;
            padding: 32px 0;
        }

        &__info {
            padding: 48px;

            &-titulo {
                font-size: 48px;
                margin: 0 auto 64px;
                border-left: 1px solid $mostarda;
                position: relative;
                
                &::before {
                    content: "";
                    position: absolute;
                    width: 83.5px;
                    height: 1px;
                    background-color: $mostarda;
                    left: -115px;
                    top: 38px;
                }

                &::after {
                    content: "";
                    position: absolute;
                    width: 83.5px;
                    height: 1px;
                    background-color: $mostarda;
                    right: -111px;
                    top: 38px;
                }
            }

            &-list {
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: center;
                position: relative;
                padding-top: 82px;

                &-banda:first-of-type {
                    position: absolute;
                    top: -7px;
                }
            }

        }

        &__img {
            width: 100%;
            height: 338px;
            background-image: url(../img/rodape-img-tablet.png);
        }
    }

    //.....experiencia.html......

    .banner-exp {
        background-image: url(../img/Banner-exp-tablet.png);
    }

    .experiencia {
        padding: 32px 60px;

        &__img {
            width: 609px;
            height: 381px;
        }

        &__info {
            padding: 32px calc(19% - 114px) 0;
        }
    }

     // .....Mapa de Setores.....

    .banner-setores {
        background-image: url(../img/Banner-setores-tablet.png);
    }

    .mapa {
        gap: 32px;
        padding: 32px 60px;

    }

    .detalhes {

        padding: 32px 60px;

        &__titulo {
            font-size: 40px;
        }

        &__card {
            padding: 32px 0 0;

            &-img {
                width: 382.4px;
                height: 239px;  
            }
        }
    }

    // ....Informações Gerais...

    .banner-informacoes {
        background-image: url(../img/Banner-info-tablet.png);
    }

    .perguntas {
        padding: 48px 60px;

        &__titulo {
            font-size: 48px;
        }
    }

    // ....Ingresso...

    .banner-ingresso {
        background-image: url(../img/Banner-ingresso-tablet.png);
    }

    .formulario {
        padding: 48px 60px;

        &__titulo {
            font-size: 48px;
        }

        &__form {

            &-input {
                height: 56px;
            }

            &-input[type="date"] {
               width: 453px;
            }
        }
    }

    // ...Ingresso comprado....

    .banner-ingresso-comprado {
        background-image: url(../img/Banner-ingresso-comprado-tablet.png);
    }

    .ingresso {
        padding: 64px 60px;

        &__mensagem {
            padding: 0 32px 32px;
        }

        &__card {

            &-img {
                width: 285px;
                height: 310px;
            }
        }
    }
}