body {
  background-image: linear-gradient(#C8DEEF, #FBF0DD, #FACF9D);
}

.hidden {
  display: none;
}

.input-mensagem-erro {
  font-family: "Raleway", sans-serif;
  color: red;
}

.input-container__invalido .formulario__form-input {
  border: 2px solid red;
  border-radius: 5px;
}

.btn {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 40px;
  color: #FFFFFF;
  text-decoration: none;
  background-color: #2E7BA2;
  box-shadow: 4px 4px 0px #444444;
  border-radius: 16px;
  padding: 8px 0;
  margin: 0 24px;
}
.btn:hover {
  background-color: #519EC5;
  transition: 0.7s;
}

.material-icons {
  font-size: 28px;
  color: #FFFFFF;
}

.header__list {
  position: absolute;
  top: 136px;
  right: 0;
  flex-direction: column;
  gap: 8px;
  background-color: #2E7BA2;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  list-style: none;
  max-width: 0;
  overflow: hidden;
  transition: max-width 0.5s ease-out;
}
.header__list-item {
  padding: 16px 0;
  position: relative;
}
.header__list-item a {
  text-decoration: none;
  color: #FFFFFF;
}
.header__list-item::after {
  content: "";
  position: absolute;
  width: 90%;
  height: 2px;
  background: #FFFFFF;
  bottom: -3px;
  left: 50%;
  transform: translatex(-50%);
}
.header__list-item:last-child::after {
  display: none;
}

.banner {
  background-size: cover;
  background-position: center;
  height: 270px;
  display: flex;
  background-attachment: fixed;
}
.banner__titulo {
  text-align: center;
  color: #444444;
  font-size: 32px;
  font-weight: 400;
  margin: 0 auto;
  font-family: "Calistoga", cursive;
  align-self: center;
}

@media screen and (min-width: 0) {
  .header {
    background-color: #2E7BA2;
  }
  .header__container {
    width: 296px;
    display: flex;
    margin: 0 auto;
    padding: 32px 0;
    justify-content: space-between;
    align-items: center;
  }
  .header .header__menu-mobile[data-btn-menu] {
    background-image: url(../img/menu-mobile-open.png);
    background-size: cover;
    border: none;
    background-color: #2E7BA2;
    width: 28px;
    height: 28px;
    transition: 0.3s;
  }
  .header .header__menu-mobile[data-btn-menu=fechar] {
    background-image: url(../img/menu-mobile-close.svg);
    background-size: contain;
    background-repeat: no-repeat;
    transition: 0.3s;
  }
  .header__img {
    width: 233.9px;
    height: 64px;
  }
}
@media screen and (min-width: 768px) {
  .header__container {
    width: 648px;
    justify-content: center;
    display: block;
    text-align: center;
    padding: 16px 0;
  }
  .header__container .header__menu-mobile {
    display: none;
  }
  .header__list {
    display: flex;
    flex-direction: row;
    position: unset;
    justify-content: center;
    gap: 32px;
    max-width: unset;
  }
  .header__list-item::after {
    display: none;
  }
}
@media screen and (min-width: 1280px) {
  .header__container {
    display: flex;
    width: 1040px;
    justify-content: space-between;
    padding: 32px 0;
  }
  .header__list-item:hover {
    text-decoration: underline;
    color: #FFFFFF;
  }
}
@media screen and (min-width: 0) {
  .footer {
    background-color: #FACF9D;
    text-align: center;
    font-family: "Raleway", sans-serif;
    color: #444444;
    font-size: 20px;
    font-weight: 500;
    display: flex;
    flex-direction: column;
  }
  .footer__contato-logo {
    width: 233.9px;
    height: 64px;
    padding-bottom: 8px;
  }
  .footer__links {
    display: block;
    padding: 16px 0 32px;
  }
  .footer__links i {
    margin: 0 5px;
  }
  .footer__info {
    line-height: 40px;
    padding: 0 24px 44px;
  }
}
@media screen and (min-width: 768px) {
  .footer {
    padding: 24px 0;
  }
  .footer__contato-logo {
    padding-bottom: 28px;
  }
  .footer__links {
    display: unset;
  }
  .footer__info {
    padding: 28px 0 12px;
  }
  .footer__info-dev br {
    display: none;
  }
}
@media screen and (min-width: 1280px) {
  .footer {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 60px 120px;
  }
  .footer__contato {
    text-align: start;
  }
  .footer__contato-logo {
    padding-bottom: 8px;
  }
  .footer__info {
    padding: 0;
  }
  .footer__info-dev br {
    display: block;
  }
}
@media screen and (min-width: 0) {
  .banner-home {
    background-image: url(../img/banner-index-header.png);
    background-attachment: fixed;
  }
  .sobre {
    text-align: center;
    margin: 0 auto;
    padding: 32px 0;
    font-family: "Raleway", sans-serif;
    color: #444444;
  }
  .sobre__img {
    width: 312px;
    height: 381px;
  }
  .sobre__info {
    padding-top: 32px;
  }
  .sobre__titulo {
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
  }
  .sobre__texto {
    font-weight: 500;
    font-size: 20px;
    line-height: 40px;
    padding: 24px;
  }
  .sobre__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    width: 312px;
    margin: 0 auto;
  }
  .programacao {
    text-align: center;
    color: #444444;
  }
  .programacao__titulo {
    font-family: "Calistoga", cursive;
    font-weight: 400;
    font-size: 48px;
    line-height: 62px;
    margin: 0 auto;
    padding: 16px 0 32px;
  }
  .programacao__info {
    padding: 24px;
  }
  .programacao__info-titulo {
    color: #FFFFFF;
    background-color: #DF9010;
    font-size: 28px;
    font-weight: 400;
    font-family: "Calistoga", cursive;
    display: inline-block;
    padding: 16px;
    margin-bottom: 48px;
  }
  .programacao__info-list {
    color: #444444;
    font-family: "Raleway", sans-serif;
    display: flex;
    flex-direction: column;
    gap: 32px;
  }
  .programacao__info-list-banda {
    font-size: 32px;
  }
  .programacao__info-list-banda:first-of-type {
    font-weight: 800;
    font-size: 48px;
  }
  .programacao__info-list-banda:nth-child(1n+2) {
    font-weight: 700;
    font-size: 40px;
  }
  .programacao__info-list-banda:nth-child(1n+6) {
    font-weight: 700;
    font-size: 32px;
  }
  .programacao__info-list-banda:nth-child(1n+10) {
    font-weight: 500;
    font-size: 32px;
  }
  .programacao__img {
    height: 338px;
    width: 100%;
    mix-blend-mode: multiply;
    background-image: url(../img/banner-rodape-desktop.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }
  .banner-exp {
    background-image: url(../img/Banner-exp.png);
  }
  .experiencia {
    text-align: center;
    padding: 32px 24px;
    font-family: "Raleway", sans-serif;
    color: #444444;
  }
  .experiencia__info {
    padding: 32px 8px 0;
  }
  .experiencia__info-titulo {
    font-size: 32px;
    font-weight: 700;
  }
  .experiencia__info-texto {
    font-weight: 500;
    font-size: 20px;
    line-height: 40px;
  }
  .banner-setores {
    background-image: url(../img/Banner-setores.png);
  }
  .mapa {
    padding-bottom: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Raleway", sans-serif;
    color: #444444;
  }
  .mapa__legenda-titulo {
    padding-bottom: 24px;
    font-size: 20px;
    font-weight: 700;
  }
  .mapa__legenda-lista {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
  .mapa__legenda-lista-item {
    font-size: 20px;
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 16px;
  }
  .detalhes {
    text-align: center;
    color: #444444;
    font-family: "Raleway", sans-serif;
    padding: 32px 24px;
  }
  .detalhes__titulo {
    font-size: 32px;
    font-weight: 700;
  }
  .detalhes__card {
    padding: 32px 0;
  }
  .detalhes__card-info {
    padding-top: 24px;
  }
  .detalhes__card-info-titulo {
    font-size: 32px;
    font-weight: 700;
    padding-bottom: 24px;
  }
  .detalhes__card-info-texto {
    font-size: 20px;
    font-weight: 500;
    line-height: 40px;
  }
  .banner-informacoes {
    background-image: url(../img/Banner\ -\ Infos\ gerais.png);
  }
  .perguntas {
    text-align: center;
    color: #444444;
    padding: 48px 24px;
  }
  .perguntas__titulo {
    font-size: 32px;
    font-weight: 400;
    font-family: "Calistoga", cursive;
    padding-bottom: 48px;
  }
  .perguntas__frequentes {
    font-family: "Raleway", sans-serif;
    text-align: initial;
    padding-bottom: 8px;
  }
  .perguntas__frequentes-pergunta {
    color: #FFFFFF;
    background-color: #2E7BA2;
    font-size: 32px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
    cursor: pointer;
    transition: 0.4s;
  }
  .perguntas__frequentes-resposta {
    font-size: 20px;
    font-weight: 500;
    line-height: 40px;
    background-color: #C8DEEF;
    padding: 0 16px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease-out;
  }
  .banner-ingresso {
    background-image: url(../img/Banner\ -ingresso.png);
  }
  .formulario {
    text-align: center;
    padding: 32px 24px;
    color: #444444;
  }
  .formulario__titulo {
    font-family: "Calistoga", cursive;
    font-size: 32px;
    font-weight: 400;
    padding-bottom: 48px;
  }
  .formulario__form {
    text-align: justify;
    font-family: "Raleway", sans-serif;
  }
  .formulario__form-label {
    display: block;
    font-size: 32px;
    font-weight: 700;
    padding: 30px 0 8px;
  }
  .formulario__form-input {
    background-color: #FFFFFF;
    width: 100%;
    height: 48px;
    box-sizing: border-box;
    padding: 10px;
    font-size: 20px;
    color: #444444;
    border: 1px solid #FFFFFF;
  }
  .formulario__form-input::placeholder {
    font-size: 20px;
    font-weight: 500;
  }
  .formulario__form .select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: url(../img/arrow_drop_down.svg) no-repeat center right;
    background-color: #FFFFFF;
    background-size: 32px;
  }
  .formulario__form-btn {
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 8px 18px;
    margin: 41px auto 0;
    border: none;
  }
  .banner-ingresso-comprado {
    background-image: url(../img/Banner\ -\ ingresso-comprado.png);
  }
  .ingresso {
    padding: 64px 24px;
    text-align: center;
    color: #444444;
    font-family: "Raleway", sans-serif;
  }
  .ingresso__mensagem {
    font-weight: 700;
    font-size: 32px;
    line-height: 37.57px;
    padding-bottom: 32px;
  }
  .ingresso__card {
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.15);
    background: linear-gradient(#C8DEEF, #FBF0DD, #FACF9D);
    padding: 32px;
    display: flex;
    flex-direction: column;
    gap: 32px;
  }
  .ingresso__card-logos {
    display: flex;
    justify-content: space-between;
  }
  .ingresso__card-img {
    width: 185px;
    height: 190px;
    margin: 0 auto;
  }
  .ingresso__card-info-nome {
    font-size: 32px;
    font-weight: 700;
    padding-bottom: 16px;
  }
  .ingresso__card-info p {
    font-weight: 500;
    font-size: 20px;
    line-height: 40px;
  }
}
@media screen and (min-width: 768px) {
  .banner {
    height: 384px;
  }
  .banner__titulo {
    font-size: 64px;
    padding: 0 15%;
  }
  .sobre__img {
    width: 609px;
    height: 381px;
  }
  .sobre__texto {
    margin: 0 40px;
  }
  .sobre__btn {
    width: 256px;
    margin: 0 auto;
  }
  .programacao__titulo {
    font-size: 64px;
    padding: 32px 0;
  }
  .programacao__info {
    padding: 48px;
  }
  .programacao__info-titulo {
    font-size: 48px;
    margin: 0 auto 64px;
    border-left: 1px solid #DF9010;
    position: relative;
  }
  .programacao__info-titulo::before {
    content: "";
    position: absolute;
    width: 83.5px;
    height: 1px;
    background-color: #DF9010;
    left: -115px;
    top: 38px;
  }
  .programacao__info-titulo::after {
    content: "";
    position: absolute;
    width: 83.5px;
    height: 1px;
    background-color: #DF9010;
    right: -111px;
    top: 38px;
  }
  .programacao__info-list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    padding-top: 82px;
  }
  .programacao__info-list-banda:first-of-type {
    position: absolute;
    top: -7px;
  }
  .banner-exp {
    background-image: url(../img/Banner-exp-tablet.png);
  }
  .experiencia {
    padding: 32px 60px;
  }
  .experiencia__img {
    width: 609px;
    height: 381px;
  }
  .experiencia__info {
    padding: 32px calc(19% - 114px) 0;
  }
  .banner-setores {
    background-image: url(../img/Banner-setores-tablet.png);
  }
  .mapa {
    gap: 32px;
    padding: 32px 60px;
  }
  .detalhes {
    padding: 32px 60px;
  }
  .detalhes__titulo {
    font-size: 40px;
  }
  .detalhes__card {
    padding: 32px 0 0;
  }
  .detalhes__card-img {
    width: 382.4px;
    height: 239px;
  }
  .banner-informacoes {
    background-image: url(../img/Banner-info-tablet.png);
  }
  .perguntas {
    padding: 48px 60px;
  }
  .perguntas__titulo {
    font-size: 48px;
  }
  .banner-ingresso {
    background-image: url(../img/Banner-ingresso-tablet.png);
  }
  .formulario {
    padding: 48px 60px;
  }
  .formulario__titulo {
    font-size: 48px;
  }
  .formulario__form-input {
    height: 56px;
  }
  .formulario__form-input[type=date] {
    width: 453px;
  }
  .banner-ingresso-comprado {
    background-image: url(../img/Banner-ingresso-comprado-tablet.png);
  }
  .ingresso {
    padding: 64px 60px;
  }
  .ingresso__mensagem {
    padding: 0 32px 32px;
  }
  .ingresso__card-img {
    width: 285px;
    height: 310px;
  }
}
@media screen and (min-width: 1280px) {
  .banner {
    height: 407px;
  }
  .sobre {
    display: flex;
    justify-content: center;
    padding: 64px 0;
    gap: 48px;
  }
  .sobre__info {
    padding-top: 32px;
    box-sizing: border-box;
    width: 540px;
    height: 340px;
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
  .sobre__texto {
    margin: 0;
    padding: 0;
  }
  .programacao__info-titulo::before {
    width: 300px;
    left: -350px;
  }
  .programacao__info-titulo::after {
    width: 300px;
    right: -350px;
  }
  .programacao__img {
    height: 407px;
  }
  .experiencia {
    display: flex;
    align-items: center;
    padding: 64px 100px;
    gap: 48px;
  }
  .experiencia__img {
    width: 609px;
    height: 381px;
  }
  .experiencia__info {
    padding: 0;
    text-align: justify;
  }
  .experiencia__info-titulo {
    padding-bottom: 24px;
  }
  .experiencia:nth-of-type(3) {
    flex-direction: row-reverse;
  }
  .banner-setores {
    background-image: url(../img/Banner-setores-desktop.png);
  }
  .mapa {
    flex-direction: row;
    justify-content: center;
    gap: 48px;
    padding: 32px 120px;
  }
  .mapa__img {
    width: 450px;
    height: 450px;
  }
  .detalhes {
    padding: 48px 120px;
    display: flex;
    flex-direction: column;
  }
  .detalhes__card-section {
    height: 631px;
    display: flex;
    gap: 20px;
    justify-content: center;
  }
  .detalhes__card:nth-child(2) {
    align-self: flex-end;
  }
  .banner-informacoes {
    background-image: url(../img/Banner-info-desktop.png);
  }
  .perguntas {
    padding: 48px 222px;
  }
  .perguntas__titulo {
    font-size: 48px;
  }
  .perguntas__frequentes-pergunta span {
    cursor: pointer;
  }
  .banner-ingresso {
    background-image: url(../img/Banner-ingresso-desktop.png);
  }
  .formulario {
    padding: 48px 322.5px;
  }
  .formulario__form {
    display: flex;
    flex-direction: column;
  }
  .formulario__form-seletores {
    display: flex;
    flex-direction: row;
    gap: 24px;
    justify-content: center;
  }
  .formulario__form-seletores-select {
    width: 50%;
  }
  .formulario__form-seletores-data {
    width: 50%;
  }
  .formulario__form-input[type=date] {
    width: 100%;
    margin-bottom: 0;
  }
  .formulario__form-btn:hover {
    cursor: pointer;
  }
  .banner-ingresso-comprado {
    background-image: url(../img/Banner-ingresso-comprado-desk.png);
  }
  .ingresso {
    padding: 64px 120px;
  }
  .ingresso__mensagem {
    padding: 0 64px 32px;
  }
  .ingresso__mensagem br {
    display: none;
  }
  .ingresso__card {
    display: grid;
    margin: 0 auto;
    width: 792px;
    height: 286px;
    grid-template-columns: 25% 28% 39%;
    grid-template-rows: 1fr 1fr;
    gap: 32px;
    align-items: end;
  }
  .ingresso__card-logos {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 1;
  }
  .ingresso__card-img {
    width: 189px;
    height: 222px;
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 2;
    grid-row-end: 2;
  }
  .ingresso__card-info {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 2;
  }
  .ingresso__card-info-nome {
    padding-bottom: 32px;
  }
}

/*# sourceMappingURL=style.css.map */
